@page "/spellbuilder"
@inject HttpClient Http

<PageTitle>Spell Builder</PageTitle>

@{
    var showChoice = isChoosing ? "d-block" : "d-none";
    var showInfo = isChoosing ? "d-none" : "d-block";
}

<h1>Spell Builder</h1>

<div class="spellChoice p-3 @showChoice" id="spellChoice">
    @if (effects != null){
        @foreach(var effect in effects)
        {
            <button class="btn btn-primary" @onclick="(args)=> AddEffect(args, effect.name)">@effect.name</button>
        }
    }
</div><br>
<div class="spellInfo p-3 @showInfo" id="spellInfo">
    @if(effects == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Character Stats</th>
                    <th>Spell Options</th>
                    <th>Spell Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table align="left">
                            <tbody>
                            <tr>
                                <td>MAG:</td><td><input type="number" name="MAG" maxlength="2" size="4" @bind="@MAGvalue" @oninput="@((e) => {UpdateParams((string)e.Value,1);})"></td>
                            </tr>
                            <tr>
                                <td>THM:</td><td><input type="number" name="THM" maxlength="2" size="4" @bind="@THMvalue" @oninput="@((e) => {UpdateParams((string)e.Value,2);})"></td>
                            </tr>
                            </tbody>
                        </table><br>           
                        <table align="left">
                            <tr><th></th><th>Talents:</th></tr>
                            <tr>
                                <td><input type="checkbox" name="destructiveCheck" bind="@hasDestructive"></td><td>Destructive Spells</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        EMM bonus: <input type="number" name="EMMB" maxlength="2" size="4" @bind="@EMMB" @oninput="@((e) => {UpdateParams((string)e.Value,3);})"><br><hr>
                        @if(spell.effects != null){
                            @foreach (var effect in spell.effects)
                            {
                                @effect.name<br>
                            }
                        }
                        <button class="btn btn-primary" @onclick="(args) => ToggleAddingEffects(args)">Add Spell Effect</button>
                    </td>
                    <td>
                        <b>School:</b> @spell.school<br>
                        <b>Level:</b> @spell.level<br>
                        <b>Spellpoints:</b> @spell.pointcost<br>
                        <b>Mana:</b> @spell.manacost<br>
                        <b>Cast DC:</b> @spell.castDC<br>
                        <hr>
                        @spell.effect
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

@code 
{
    private EffectKeyword[]? effects;
    private Spell spell = new Spell();
    [Parameter]
    public bool isChoosing { get; set; }
    public bool hasDestructive { get; set; }
    public int MAGvalue { get; set;} = 10;
    public int THMvalue { get; set;} = 10;
    public int EMMB{ get; set;} = 0;

    public class Spell
    {
        public string school;
        public int level;
        public int pointcost;
        public int manacost;
        public int castDC;
        public string effect;
        public EffectKeyword[]? effects;

        public Spell()
        {
            this.school = "?";
            this.level = 0;
            this.pointcost = 0;
            this.manacost = 0;
            this.castDC = 10;
            this.effect = "?";
        }
    }

    public class Keyword
    {
        public string name { get; set; }
        public string help { get; set; }
        public string school { get; set; }
        public int level { get; set; }
        public int cost { get; set; }

        public Keyword()
        {
            this.cost = 0;
            this.help = "";
            this.level = 0;
            this.name = "";
            this.school = "";
        }
    }

    public class EffectKeyword : Keyword
    {
        public string description { get; set; }

        public EffectKeyword()
        {
            this.cost = 99;
            this.description = "www";
            this.help = "wow";
            this.level = 99;
            this.name = "wow";
            this.school = "wow";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        isChoosing = false;
        effects = await Http.GetFromJsonAsync<EffectKeyword[]>("sample-data/effects.json");
    }

    private EffectKeyword returnEffectByName(string effectname)
    {
        if (effects != null)
        {
            foreach(EffectKeyword effect in effects)
                if (effect.name == effectname)
                    return effect;
        }
        return null;
    }

    private async Task AddEffect(MouseEventArgs e, string effectname)
    {
        EffectKeyword newEffect = returnEffectByName(effectname);
        if (newEffect == null)
            return;
        if (spell.effects == null)
        {
            spell.effects = new EffectKeyword[] {newEffect};
        }
        else
        {
            spell.effects.Append(newEffect);
        }
        UpdateSpellInfo();
        isChoosing = false;
    }

    private async Task ToggleAddingEffects(MouseEventArgs e)
    {
        isChoosing = true;
    }

    private async Task UpdateParams(string value, int type)
    {
        int newValue = System.Convert.ToInt32(value);
        switch(type)
        {
            case 1: MAGvalue = newValue; break;
            case 2: THMvalue = newValue; break;
            case 3: EMMB = newValue; break;
            default: return;
        }
        UpdateSpellInfo();
    }

    private async Task UpdateSpellInfo()
    {   
        spell.level = spell.effects[0].level;
        spell.pointcost = spell.effects[0].cost;
        spell.manacost = 5*spell.effects[0].level;
        spell.school = spell.effects[0].school;
        spell.castDC = 10+4*spell.effects[0].level;
        spell.effect = spell.effects[0].description;        
        if (spell.effect.Contains("%%EMM%%")) spell.effect = spell.effect.Replace("%%EMM%%",((MAGvalue-10)/2+EMMB).ToString());
        InvokeAsync(StateHasChanged);
    }

}
